# Node modules
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env

# Logs
*.log
npm-debug.log*

# Vite build
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/crash.log

# Local credentials
*.json