# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*

# Keep lock file
!terraform/.terraform.lock.hcl

# VS Code
.vscode/

# Node
node_modules/

# Environment
.env
.env.*

# Logs
*.log